altair
asttokens
attrs
blinker
Bottleneck
brotlicffi
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
executing
gitdb
GitPython
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
mkl-service
mkl_fft
mkl_random
narwhals
nest-asyncio
numexpr
numpy
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
Pygments
PySocks
python-dateutil
pytz
pywin32
PyYAML
pyzmq
referencing
requests
rpds-py
scipy
setuptools
six
smmap
stack-data
streamlit
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
wheel
win-inet-pton
